<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
		  
	<head lang="pt-br" th:include="/fragments/head :: head">
		  
		<title>Consultar Médicos</title>
	</head>
	<body>
		<div lang="pt-br" th:include="/fragments/menu :: menu"></div>
		
		<div class = "container" style = "width: 100vw;height: 100vh;">	
			<h3 id = "textoAlinha"><strong>Consultar os atendentes - SAS</strong></h3>
			</br> </br>
		
		
		<div class="input-group col-sm-auto col-md-auto col-lg-auto">
			<div class="input-group-prepend">
				<label><b>Pesquisar Por: </b></label>
			</div>
			
					<!-- 	Combobox pesquisarPor-->
			<select class="custom-select col-sm-2 col-md-2 col-lg-2" id="cmbPesquisarPor" name="pesquisarPor">
				<option selected></option>
				<option value="porMedico" id = "porNomeDoMedico">Nome do médico</option>
				<option value="porCRM" id = "porCRM">CRM</option>
				<option value="porRG" id = "porRg">RG</option>
			</select>
		
				<div class="form-group col-md-6">
						<input type="text" class="form-control" id="txtNomeMedico" name="busca" placeholder="">
				</div>
		
			<div class="input-group-btn " id="divBtnPesquisar">
				<button class="btn btn-secondary " type="submit" id="bPesquisar">Pesquisar</button>
			</div>

		</div>
		
		<!-- ======================= -->
<!-- 		<form th:action="@{/atendente/delete/" th:method="DELETE" action="#"> -->
<!-- 		<form th:method="Delete" action="/atendente/delete/"> -->
			<div class="container">  <!-- Container -->
				<!-- Cabeçalho -->
				<div class="row"> <!-- Linha -->
				
					<div  class="col-sm-1 col-md-1 col-lg-1"> <b> ID </b> </div>	
					<div  class="col-sm-2 col-md-2 col-lg-2"> <b> Data Nasc. </b> </div>	
					<div  class="col-sm-2 col-md-2 col-lg-2"> <b> Nome </b> </div>	
					<div  class="col-sm-2 col-md-2 col-lg-2"> <b> Telefone </b> </div>	
					<div  class="col-sm-1 col-md-1 col-lg-1"> <b> Celular </b> </div>	
<!-- 					<div  class="col-sm-2 col-md-2 col-lg-2"> <b> Especialidade </b> </div>	 -->
					<div  class="col-sm-2 col-md-2 col-lg-2"> <b> Ações </b> </div>	
					
											<!-- <div  class="col-sm-4 col-md-4 col-lg-4">	-->
				</div>
					
<!-- 				<div  class="col-xs-9"> Coluna  -->
<!-- 				<div class="row" th:remove="${#arrays.isEmpty(listAtendentes} ? all : 'all-but-first'">   -->
				<div th:each="atendente : ${listAtendentes}" class="row"> 
					<div class="col-sm-1 col-md-1 col-lg-1" th:text="${atendente.id}"> 2</div>
					<div class="col-sm-2 col-md-2 col-lg-2" th:text="${atendente.dataNascimento}"> 01/02/2019 </div>	
					<div class="col-sm-2 col-md-2 col-lg-2" th:text="${atendente.nome}"> Steve Jobs </div>	
					<div class="col-sm-2 col-md-2 col-lg-2" th:text="${atendente.telefone}"> (00) 00000-0000 </div>	
				    <div class="col-sm-1 col-md-1 col-lg-1" th:text="${atendente.celular}"> (00) 0000-0000 </div>	
<!-- 				    <div  class="col-sm-2 col-md-2 col-lg-2" th:text="${atendente.especialidade}"> Oftamologista </div>	 -->
<!-- 				    <div  class="col-sm-2 col-md-2 col-lg-2" th:text="${atendente.rg}">  -->
						
						<a th:href="${(#mvc.url('AC#edit').arg(0, atendente.id)).build()}">
							<button type="submit" class="btn btn-secondary ">
								<img th:src="@{/img/editar.svg}" src="./img/editar.svg" width="25px" height="25px"> 
							</button>
						</a>
						<!-- INATIVAR -->
							
<!-- 					<a class="btn btn-secondary" th:href="@{/atendente/delete/${atendente.id}}" > -->
						<form th:method="DELETE" th:action="${(#mvc.url('AC#delete').arg(0, atendente.id)).build()}">
							<button type="submit" class="btn btn-secondary" >
								<img th:src="@{/img/cancelar-2.svg}" src="./img/cancelar-2.svg" width="25px" height="25px"> 
							</button>
						</form>
<!-- 						</a> -->
							
							<!--  cadastrar -->
							<a class="btn btn-secondary" th:href="@{/atendente/cadastrarAtendente}">
<!-- 								<button type="button" class="btn btn-secondary" >  -->
									<img th:src="@{/img/mais.svg}" src="../img/mais.svg" width="25px" height="25px"> 
<!-- 								</button> -->
							</a>
					</div>	
				</div>                           
<!-- 		</form> -->
		</div>
		
		<!-- 	<br> <br>	 -->
    <div lang="pt-br" th:include="/fragments/rodape :: footer"></div>
	</body>
</html>