<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
	<head lang="pt-br" th:include="/fragments/head :: head">
		<title>Consultar Pacientes</title>
	</head>
	<body>
		<div lang="pt-br" th:include="/fragments/menu :: menu"></div>
		
		<div class = "container" style = "width: 100vw;height: 100vh;">	
			<h3 id = "textoAlinha"><strong>Consultar os pacientes - SAS</strong></h3>
			</br> </br>
		
		
		<div class="input-group col-sm-auto col-md-auto col-lg-auto">
			<div class="input-group-prepend">
				<label><b>Pesquisar Por: </b></label>
			</div>
			
					<!-- 	Combobox pesquisarPor-->
			<select class="custom-select col-sm-2 col-md-2 col-lg-2" id="cmbPesquisarPor" name="pesquisarPor">
				<option selected></option>
				<option value="porNomePaciente" id = "porNomeDoPaciente" name="nome">Nome do paciente</option>
				<option value="porCPF" id = "porCpf" name="cpf">CPF</option>
				<option value="porRG" id = "porRg" name="rg">RG</option>
			</select>
		
				<div class="form-group col-md-6">
						<input type="text" class="form-control" id="txtNomePaciente" name="nome" placeholder="">
				</div>
		
			<div class="input-group-btn " id="divBtnPesquisar">
				<button class="btn btn-secondary " type="submit" id="bPesquisar">Pesquisar</button>
			</div>

		</div>
		
		<!-- ======================= -->
		<form action="#" method="post">
			<div  class="container">  <!-- Container -->
				<!-- Cabeçalho -->
				<div class="row"> <!-- Linha -->
					<div  class="col-sm-1 col-md-1 col-lg-1"> <b> Nome </b> </div>	
					<div  class="col-sm-2 col-md-2 col-lg-2"> <b> Rg </b> </div>	
					<div  class="col-sm-2 col-md-2 col-lg-2"> <b> CPF </b> </div>	
					<div  class="col-sm-1 col-md-1 col-lg-1"> <b> Data de Nasc. </b> </div>	
					<div  class="col-sm-2 col-md-2 col-lg-2"> <b> Telefone </b> </div>	
					<div  class="col-sm-2 col-md-2 col-lg-2"> <b> Celular </b> </div>	
					<div  class="col-sm-2 col-md-2 col-lg-2"> <b> Ações </b> </div>	
											<!-- <div  class="col-sm-4 col-md-4 col-lg-4">	-->
				</div>
					
				<!-- <div  class="col-xs-9"> --> <!-- Coluna  -->
				<div class="row" th:remove="${#arrays.isEmpty(pacientes)} ? all : 'all-but-first'">  
					<div  class="col-sm-1 col-md-1 col-lg-1" th:text="${pacientes.nome}"> João das  neves </div>	
					<div  class="col-sm-2 col-md-2 col-lg-2" th:text="${pacientes.rg}"> 000.0000.000-0</div>	
					<div  class="col-sm-2 col-md-2 col-lg-2" th:text="${pacientes.cpf}"> 123.242.321-88</div>	
					<div  class="col-sm-1 col-md-1 col-lg-1" th:text="${pacientes.dataNascimento}"> 20/01/2018 </div>	
				    <div  class="col-sm-2 col-md-2 col-lg-2" th:text="${pacientes.telefone}"> (00) 0000-0000 </div>	
				    <div  class="col-sm-2 col-md-2 col-lg-2" th:text="${pacientes.celular}"> (00) 00000-0000 </div>	
				    <div  class="col-sm-2 col-md-2 col-lg-2" th:text="${pacientes.celular}">
						
						<form action="">
							<button type="submit" class="btn btn-secondary "> <img src="./img/editar.svg" width="25px" height="25px"> 
						</form>	
						
						<!-- INATIVAR -->
						<form action="">
							<button type="submit" class="btn btn-secondary "> <img src="./img/cancelar-2.svg" width="25px" height="25px"> 
						</form>
						
						<form action="">
							<!--  cadastrar -->
							<button type="submit" class="btn btn-secondary "> <img src="./img/mais.svg" width="25px" height="25px"> 
						</form>
			
					</div>	
				
				</div>                           
			</div>
		</form>
		</div>
		<!-- 	<br> <br>	 -->
		<div lang="pt-br" th:include="/fragments/rodape :: footer"></div>
	</body>
</html>