<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
	<head lang="pt-br" th:include="/fragments/head :: head">
		
		<title>Cadastro de atendente</title>
	</head>
	
	<body>
	 	<div lang="pt-br" th:include="/fragments/menu :: menu"></div>
		
		<div class = "container" style = "width: 100vw;height: 100vh;">	
			<form>
				<h3 id = "textoAlinha"><strong>Cadastro de Atendente - SAS</strong></h3>
				
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="nomePaciente"><strong>Nome</strong></label>
						<input type="text" class="form-control" id="nomePaciente" name="nome" placeholder="Insira o nome do paciente...">
					</div>
					
					<div class="form-group col-md-6">
						<label for="inputEmail"><strong>E-mail</strong></label>
						<input type="email" class="form-control" id="inputEmail" placeholder="Insira o e-mail do paciente...">
					</div>
					
					<div class="form-group col-md-6">
						<label for="inputTelefone"><strong>Telefone</strong></label>
						<input type="number" class="form-control" id="inputTelefone" name="telefone" placeholder="(XX) XXXX-XXXX">
					</div>
					
					<div class="form-group col-md-6">
						<label for="inputCelular"><strong>Celular</strong></label>
						<input type="number" class="form-control" id="inputCelular" name="celular" placeholder="(XX) YXXXX-XXXX">
					</div>
					
					<!-- A senha de 1º acesso será criada com base em um padrão e posteriormente o usuário poderá mudá-la -->
					<div class="form-group col-md-4">
						<label for="inputCEP"><strong>CEP</strong></label>
						<input type="text" class="form-control" id="inputCEP" name="cep" placeholder="00000-000">
					</div>
					
					<!-- Possivelmente carregue uma lista de cidade de acordo com estado e vire combobox?-->
					<div class="form-group col-md-4">
						<label for="inputCidade"><strong>Cidade</strong></label>
						<input type="text" class="form-control" id="inputCidade" name="cidade" placeholder="Ex: Salto">
					</div>
					
					<!-- Possivelmente combobox com estados brasileiros-->
					<div class="form-group col-md-2">
						<label for="inputEstado"><strong>Estado</strong></label>
						<input type="text" class="form-control" id="inputEstado" placeholder="Ex: SP">
					</div>
					
					<div class="form-group col-md-2">
						<label for="inputNumero"><strong>Nº</strong></label>
						<input type="number" class="form-control" id="inputNumero" name="numero" placeholder="Nº" min= "0" style = "inline">
					</div>
					
					<div class="form-group col-md-8">
						<label for="inputRua"><strong>Rua</strong></label>
						<input type="text" class="form-control" id="inputRua" name= "rua" placeholder="Rua dos corumbatás">
					</div>
				
					<div class="form-group col-md-4">
						<label for="inputBairro"><strong>Bairro</strong></label>
						<input type="text" class="form-control" id="inputBairro" name = "bairro" placeholder="Salto de São José">
					</div>
				</div>
				  
				<div class="form-row">
					<div class="form-group col-md-5">
						<label for="inputCPF"><strong>CPF</strong></label>
						<input type="number" class="form-control" id="inputCPF" name="cpf" placeholder="000.000.000-00">
					</div>
					
					<div class="form-group col-md-4">
						<label for="inputRG"><strong>RG</strong></label>
						<input type="text" class="form-control" id="inputRG" name="rg" placeholder="00.000.000-0">
					</div>
					
					<div class="form-group col-md-3">
						<label for="inputDataNasc"><strong>Data de nascimento</strong></label>
						<input type="date" class="form-control" id="inputDataNasc" name="dataNascimento" placeholder="dd/mm/aaaa">
					</div>	
				</div>
				
				<div class="form-row">
					<div class = "form-group col-md-6">
						<button type="submit" class="btn btn-secondary col-md-12"><strong>Cadastrar</strong></button>
					</div>
					<div class = "form-group col-md-6">
						<button type="submit" class="btn btn-secondary col-md-12"><strong>Alterar</strong></button>
					</div>
				</div>
			</form>
		</div>
		
    <div lang="pt-br" th:include="/fragments/rodape :: footer"></div>
	</body>
	
</html>