<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
	<head lang="pt-br" th:include="/fragments/head :: head"> 
		
		<title>Cadastro Consultório</title>
	</head>
	<body>
		<div lang="pt-br" th:include="/fragments/menu :: menu"></div>
		
		<div class = "container" style = "width: 100vw;height: 100vh;">	
			<form>
				<h3 id = "textoAlinha"><strong>Cadastro de Consultório - SAS</strong></h3>
				
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="nomePaciente"><strong>Nome do criador</strong></label>
						<input type="text" class="form-control" id="nomePaciente" placeholder="Insira o nome do medico criador...">
					</div>
					
					<div class="form-group col-md-6">
						<label for="inputEmail"><strong>Razão Social(Nome)</strong></label>
						<input type="email" class="form-control" id="inputEmail" placeholder="Insira o nome...">
					</div>									
				
				
					<div class="form-group col-md-6">
						<label for="inputEmail"><strong>Nome Fantasia</strong></label>
						<input type="email" class="form-control" id="inputficticio" placeholder="Insira o nome...">
					</div>	
					<div class="form-group col-md-3">
						<label for="inputCidade"><strong>CNPJ</strong></label>
						<input type="text" class="form-control" id="inputCNPJ" placeholder="000000000000-00">
					</div>					
					
					<div class="form-group col-md-3">
						<label for="inputDataNasc"><strong>Data de criação</strong></label>
						<input type="date" class="form-control" id="inputDataNasc" placeholder="dd/mm/aaaa">
					</div>	
				</div>
					
				<div class="form-row">
					<div class = "form-group col-md-6">
						<button type="submit" class="btn btn-secondary col-md-12"><strong>Cadastrar</strong></button>
					</div>
					<div class = "form-group col-md-6">
						<button type="submit" class="btn btn-secondary col-md-12"><strong>Alterar</strong></button>
					</div>
				</div>
			</form>
		</div>
		
	<div lang="pt-br" th:include="/fragments/rodape :: footer"></div>		
	</body>
</html>