<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
		<link rel="stylesheet" type="text/css" href="css/style.css">
	   
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
		
		<script src="js/javaScript.js" type="text/javascript"></script>   
		
		<title>Cadastro Consultório</title>
	</head>
	<body>
		<div class = "container" style = "width: 100vw;height: 100vh;">	
			<form>
				<h3 id = "textoAlinha"><strong>Cadastro de Consultório - SAS</strong></h3>
				
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="nomePaciente"><strong>Nome do criador</strong></label>
						<input type="text" class="form-control" id="nomePaciente" name="medicoCriador" placeholder="Insira o nome do medico criador...">
					</div>
					
					<div class="form-group col-md-6">
						<label for="inputEmail"><strong>Razão Social(Nome)</strong></label>
						<input type="email" class="form-control" id="inputEmail" name="nome" placeholder="Insira o nome...">
					</div>									
				
				
					<div class="form-group col-md-6">
						<label for="inputEmail"><strong>Nome Fantasia</strong></label>
						<input type="email" class="form-control" id="inputficticio" name="nomeFantasia" placeholder="Insira o nome...">
					</div>	
					<div class="form-group col-md-3">
						<label for="inputCidade"><strong>CNPJ</strong></label>
						<input type="text" class="form-control" id="inputCNPJ" name="cnpj" placeholder="000000000000-00">
					</div>					
					
					<div class="form-group col-md-3">
						<label for="inputDataNasc"><strong>Data de criação</strong></label>
						<input type="date" class="form-control" id="inputDataNasc" name="dataCriacao" placeholder="dd/mm/aaaa">
					</div>	
				</div>
					
				<div class="form-row">
					<button type="submit" class="btn btn-secondary col-md-6"><strong>Cadastrar</strong></button>
					<button type="submit" class="btn btn-secondary col-md-6"><strong>Alterar</strong></button>
				</div>
			</form>
		</div>
		
	</body>
</html>