<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head lang="pt-br" th:include="/fragments/head :: head">

<title>Cadastro Médico</title>
</head>

<body class ="gradient">
	<div lang="pt-br" th:include="/fragments/menu :: menu"></div>

	<div class="container" style="width: 100vw; height: 100vh;">

		<form th:action="@{/medico/cadastrarEditarMedico}"
			th:object="${medico}" method="POST" >
			<h3 id="textoAlinha">
				<strong>Cadastro de Médico - SAS</strong>
			</h3>

			<div lang="pt-br"
				th:include="/fragments/mensagem-validacao :: mensagemValidacao">
			</div>

			<div class="form-row">

				<div class="form-group col-md-6">
					<label for="nomeMedico"><strong>Nome Completo</strong></label> 
					<input type="text" class="form-control validaLetras" id="inputNomeMedico"
						th:field="*{nome}" name="nome" placeholder="Insira o nome do medico..." >
				</div>
				
				<div class="form-group col-md-2">
					<label for="inputCPF"><strong>CPF</strong></label>
					<input type="text" class="form-control" id="inputCPF" th:field="*{cpf}"
						name="cpf" placeholder="000.000.000-00" onkeypress="return apenasNumeros(event)" maxlength="11">
				</div>

				<div class="form-group col-md-2">
					<label for="inputRG"><strong>RG</strong></label>
					<input type="text" class="form-control" id="inputRG" th:field="*{rg}" name=""
						placeholder="00.000.000-0" onkeypress="return apenasNumerosOuX(event)"  maxlength="9">
				</div>


				<div class="form-group col-md-2">
					<label for="inputDataNasc"><strong>CRM</strong></label>
					<input type="text" class="form-control" id="inputCRM" name="crm"
						placeholder="00000000-0" onkeypress="return apenasNumeros(event)" maxlength="9">
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-2">
					<label for="inputDataNasc"><strong>Data de nascimento</strong></label> 
					<input type="date" class="form-control"
						id="inputDataNasc" th:field="*{dataNascimento}"
						name="dataNascimento" placeholder="dd/mm/aaaa" >
				</div>

				<div class="form-group col-md-2">
					<label for="inputTelefone"><strong>Telefone</strong></label>
					<input type="tel" class="form-control" id="inputTelefone"
						th:field="*{telefone}" name="telefone"
						placeholder="(XX) XXXX-XXXX" onkeypress="return apenasNumeros(event)" maxlength="10" >
				</div>

				<div class="form-group col-md-2">
					<label for="inputCelular"><strong>Celular</strong></label> 
					<input type="tel" class="form-control" id="inputCelular"
						th:field="*{celular}" name="celular" placeholder="(XX) YXXXX-XXXX"
						 onkeypress="return apenasNumeros(event)" maxlength="11" >
				</div>

				<div class="form-group col-md-2">
					<label for="inputCEP"><strong>CEP</strong></label> 
					<input type="text" class="form-control" id="inputCEP"
						th:field="*{endereco.cep}" name="endereco.cep"
						placeholder="00000-000" onkeypress="return apenasNumeros(event)" maxlength="8" >
				</div>
				
				<div class="form-group col-md-4">
					<label for="inputDataNasc"><strong>Especialidade</strong></label>
					<input type="text" class="form-control validaLetras" id="inputEspecialidade"
						name="especialidade"
						placeholder="Digite a especialidade do médico" >
				</div>
			</div>
			
			<div class="form-row">
					<!-- Possivelmente carregue uma lista de cidade de acordo com estado e vire combobox?-->
				<div class="form-group col-md-3">
					<label for="inputCidade"><strong>Cidade</strong></label> 
					<input type="text" class="form-control validaLetras" id="inputCidade"
						th:field="*{endereco.cidade}" name="endereco.cidade"
						placeholder="Ex: Salto" maxlength="28">
				</div>
	
				<!-- Possivelmente combobox com estados brasileiros-->
				<div class="form-group col-md-1">
					<label for="inputEstado"><strong>Estado</strong></label> 
					<select class="custom-select">
						<option selected></option>
						<option th:field="*{endereco.estado}"
							th:each="estado : ${estados}" th:value="${estado}"
							th:text="${estado}"></option>
					</select>
				</div>
	
				<div class="form-group col-md-4">
					<label for="inputRua"><strong>Rua</strong></label> 
					<input type="text" class="form-control validaLetras" id="inputRua"
						th:field="*{endereco.rua}" name="endereco.rua"
						placeholder="Ex: Rua dos corumbatás" >
				</div>
	
				<div class="form-group col-md-3">
					<label for="inputBairro"><strong>Bairro</strong></label> 
					<input type="text" class="form-control validaLetras" id="inputBairro"
						th:field="*{endereco.bairro}" name="endereco.bairro"
						placeholder="Ex: Salto de São José" >
				</div>
	
				<div class="form-group col-md-1">
					<label for="inputNumero"><strong>Nº</strong></label> 
					<input type="number" class="form-control" id="inputNumero"
						th:field="*{endereco.numero}" name="endereco.numero"
						placeholder="Nº" min="0" style="inline" onkeypress="return apenasNumeros(event)" >
				</div>
			</div>

			<div class="form-row">
				<input type="text" class="form-control" id="inputId"
					th:field="*{id}" name="id" hidden="true" >

				<div class="form-group col-md-12">
					<button type="submit" class="btn btn-secondary col-md-12">
						<strong>Alterar/Cadastrar</strong>
					</button>
				</div>

			</div>
		</form>
	</div>

	<br>
	<br>
	<div lang="pt-br" th:include="/fragments/rodape :: footer"></div>
</body>
</html>