<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<head lang="pt-br" th:include="/fragments/head :: head"> 
		<link rel="stylesheet" type="text/css" th:ref="@{/css/styleAgendamento.css}" href="css/styleAgendamento.css">
		<title>Agendamento de consulta</title>
	</head>
	<body class ="gradient">
		<div lang="pt-br" th:include="/fragments/menu :: menu"></div>
		
<!-- 		<div class = "container"  style = "width: 100vw;height: 100vh;">	 -->
			<form th:action="@{/agendamento/cadastrarEditarAgendamento}" th:object="${agendamento}" method="POST"  >

				<h3 id = "textoAlinha"><strong>Agendamento de consulta - SAS</strong></h3>
				
				<div lang="pt-br" th:include="/fragments/mensagem-validacao :: mensagemValidacao"></div>
				
				<div class="form-row">
				<!-- Provavelmente no médico e no paciente será uma lista, carregada no combobox, ou alguma, que as pessoas informadas sejam as msms que tem no BD -->
					<div class="form-group col-md-6">
						<label for="txtNomePaciente"><strong>Nome do paciente</strong></label>
						<select class="custom-select" name="paciente.id">
						  <option selected > </option>
						  	<option th:field="*{paciente.id}"  th:each="paciente : ${pacientes}" th:value="${paciente.id}" th:text="${paciente.nome}" ></option>
						</select>
<!-- 						<input type="text" class="form-control" id="txtNomePaciente" name="paciente" placeholder="Insira o nome do paciente..."> -->
					</div>
					
					
					<div class="form-group col-md-6">
						<label for="txtMedico"><strong>Médico</strong></label>
						<select class="custom-select" name="medico.id" >
						  <option selected > </option>
						  	<option th:field="*{medico.id}"  th:each="medico : ${medicos}" th:value="${medico.id}" th:text="${medico.nome}" ></option>
						</select>
					</div>				
				</div>
				  
				  
				<div class="form-row">
					<div class="form-group col-md-3">
						<label for="txtDataConsulta"><strong>Data da consulta</strong></label>
						<input type="date" class="form-control" id="txtDataConsulta" th:field="*{dataConsulta}" name= "dataConsulta" placeholder="dd/mm/aaaa">
					</div>	
					
					<div class="form-group col-md-3">
						<label for="txtDataConsulta"><strong>Horário consulta</strong></label>
						<input type="time" class="form-control" id="txtHorarioConsulta" th:field="*{horarioConsulta}" name= "horarioConsulta" placeholder="HH:mm">
					</div>	
					
					<div class="form-group col-md-6">
						<label for="txtValorConsulta"><strong>Valor</strong></label>
						<input type="text" class="form-control" id="txtValorConsulta" th:field="*{valorConsulta}" placeholder="Ex: R$ 200,00" onkeypress="return apenasNumerosComVirgula(event)">
					</div>
				</div>
				
				<div class="form-row">
					<input type="text" class="form-control" id="inputId" th:field="*{id}" name="id" hidden="true" >
				
					<div class = "form-group col-md-12">
						<button type="submit" class="btn btn-secondary col-md-12"><strong>Alterar/Cadastrar</strong></button>
					</div>
				</div>
			</form>
<!-- 		</div> -->
		
				
	<div lang="pt-br" th:include="/fragments/rodape :: footer"></div>	
	</body>
	
</html>