
<div th:fragment="menu">
	<nav class="navbar navbar-expand-lg navbar-light bg-light ">
		<div class="container" >
			<a class="navbar-brand" href="/" th:href="@{/}">SAS</a>
		
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
		  	</button>
		
	
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
				
					<li class="nav-item">
						<a class="nav-link" href="/" th:href="@{/}">Home</a>
					</li>
					
<!-- 					CADASTRAR -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#"id="" role="button"	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Cadastrar
						</a>
						
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkEficiencia">
							<a class="dropdown-item" th:href="@{/atendente/cadastrarAtendente}">
								Atendente 
							</a> 
							<a class="dropdown-item" th:href="@{/consultorio/cadastrarConsultorio}">
								Consultório
							</a>	
							<a class="dropdown-item" th:href="@{/medico/cadastrarMedico}">
								Medico  
							</a>
							<a class="dropdown-item" th:href="@{/paciente/cadastrarPaciente}">
								Paciente
							</a>
						</div>
					</li>
					
<!-- 					CONSULTAR -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#"id="" role="button"	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Consultar
						</a>	
						
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkEficiencia">
							<a class="dropdown-item" th:href="@{/atendente/consultar}">
								Atendente 
							</a> 
							<a class="dropdown-item" th:href="@{/consultorio/consultar}">
								Consultório
							</a>
							<a class="dropdown-item" th:href="@{/medico/consultar}">
								Medico
							</a>
							<a class="dropdown-item" th:href="@{/paciente/consultar}">
								Paciente
							</a>
						</div>
					</li> 			
					
<!-- 					AGENDAMENTOS -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#"id="" role="button"	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Agendamentos
						</a>	
						
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkEficiencia">
							<a class="dropdown-item"  th:href="@{/agendamento/agendaDeConsulta}">
								Agenda de Consulta 
							</a> 
							<a class="dropdown-item" th:href="@{/agendamento/cadastrarAgendamento}">
								Agendar consulta
							</a>
						</div>
					</li> 			
					
<!-- 					ATENDIMENTOS -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#"id="" role="button"	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Atendimento
						</a>	
						
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkEficiencia">
							<a class="dropdown-item" id="eficiencia" th:href="@{/atendimentos/registrarAtendimento}">
								Registrar atendimento
							</a> 
						</div>
					</li> 	
					
				</ul>
		
	<!-- 			SAIR/VER PERFIL -->
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<strong> Bem vindo, </strong> NOME_DO_USUARIO
						</a>	
						
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" id="" href="${spring:mvcUrl('LC#logout').build()}"> Perfil </a>
							<a class="dropdown-item" id="" href="${spring:mvcUrl('LC#logout').build()}"> Sair </a>
						</div>
	<!-- 					<a href ="login.html"><button class="btn btn-secondary navbar-btn">Sair</button></a>   -->
					</li>  				
		    	</ul>
	    	
		  </div>
		  
	  </div>
	</nav>		
</div>

