<!doctype html>
<html lang="pt-br">

	<head lang="pt-br" th:include="/fragments/head :: head">
	
    <title>Home</title>
  </head>
	<body>
		<div lang="pt-br" th:include="/fragments/menu :: menu"></div>
    <div class = "text-center">
		<h1>Bem vindo !</h1>
	</div>
		
		<div class = "text-center">
			<h4>Clinicas que você faz parte</h4>
		</div>
		
		<div class = "container">
			<div class="card-group">
			  <div class="card">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4XnenrLc3F-W4PK8dObauYvQQavV7h3YZdBPVb-U0u7OaybvH" class="card-img-top" alt="..." height = "200" width = "">
				<div class="card-body">
				  <h5 class="card-title">Clinica Salute</h5>
				  <p class="card-text">Descrição geral da clinica em que o medico realiza consultas.</p>
				  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			  </div>
			  <div class="card">
				<img src="img/ammf.jpg" class="card-img-top" alt="..."height = "200" width = "">
				<div class="card-body">
				  <h5 class="card-title">AMMF</h5>
				  <p class="card-text">Descrição geral da clinica em que o medico realiza consultas.</p>
				  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			  </div>
			  <div class="card">
				<img src="img/health.png" class="card-img-top" alt="..." height = "200" width = "">
				<div class="card-body">
				  <h5 class="card-title">Health Care</h5>
				  <p class="card-text">Descrição geral da clinica em que o medico realiza consultas.</p>
				  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			  </div>
			</div>
		</div>
	
	<br> <br> 
	<div lang="pt-br" th:include="/fragments/rodape :: footer"></div>		
  </body>
</html>